{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service.price }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ service.duration }}</td>
            </tr>
            <tr>
                <th>IsFeatured</th>
                <td>{{ service.isFeatured ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>BackgroundColor</th>
                <td>{{ service.backgroundColor }}</td>
            </tr>
            <tr>
                <th>TextColor</th>
                <td>{{ service.textColor }}</td>
            </tr>
            <tr>
                <th>ButtonColor</th>
                <td>{{ service.buttonColor }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_index') }}">back to list</a>

    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
